.bg2 {
    background-image: url('../../assets/bg2.png');
    width: 100%;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.text-main {
    font-size: 50px;
    margin-top: 5rem;
    width: 100%;
    position: absolute;
}

.input-form {
    font-family: 'Caveat Brush', cursive;
    -webkit-box-shadow: 4px 4px 4px rgba(255, 187, 83, 0.9);
    -moz-box-shadow: 4px 4px 4px rgba(255, 187, 83, 0.9);
    box-shadow: 4px 4px 4px rgba(255, 187, 83, 0.9);
    width: 100%;
    border-radius: 0;
    border-color: rgba(255, 186, 90, 0.28);
    border-style: none;
    background-color: rgba(255, 186, 90, 0.28);
    margin-left: 10px;
    margin-right: 100px;
    height: 44px;
    padding-left: 25px;
    font-size: 40px;
}

button {
    font-family: 'Caveat Brush', cursive;
    box-shadow: inset 10px 10px 10px rgba(255, 187, 83, 0.9);
}

label,
h3,
h6,
p {
    font-family: 'Caveat Brush', cursive;
}

.main {
    font-family: 'Caveat Brush', cursive;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 14rem;
    width: 60%;
    background-color: rgb(255, 255, 255, 0.6);
    position: absolute;
    border-radius: 68px;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu {
    margin-right: auto;
    margin-left: 2%;
    margin-top: 14rem;
    width: 10%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 68px;
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.rec-setting1 {
    margin-right: auto;
    margin-left: 3%;
    margin-top: 1rem;
    position: absolute;
    text-align: center;
}

.exit {
    padding-right: 3%;
    margin-top: 1rem;
    width: 100%;
    position: absolute;
    text-align: right;
}

.div-content {
    margin-top: 3rem;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
}